<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liyuliang.sphelper">

    <application
        android:name="com.liyuliang.sphelper.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SPHelper">

        <provider
            android:name=".contentprovider.SPContentProvider"
            android:authorities="com.liyuliang.sphelper"
            android:exported="false"
            android:process=":provider" />

        <activity
            android:name="com.liyuliang.sphelper.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>